body   {
    background-color:rgb(0, 0, 0);
}  

div {
    height:480px;
    border:5px solid rgb(0, 0, 0);
    outline-style: dotted;
    width:480;
    position:relative;
    z-index:-6;
    margin:5px;
}

div > img {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:-5;
}





/*Style Sheet*/
.container
{
    border:solid rgb(0, 0, 0) 6px;
    height:700px;
    width:700px;
    margin-left:20px;
    margin-top:20px;
}

body{
    margin:0px;
    background-color:antiquewhite;
}

.container > div 
{
    height:50px;
    width:50px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-color:rgb(255, 0, 0);
    animation-name: animateOne;  
    animation-duration: 10s;
    animation-iteration-count: infinite; 
    animation-direction: normal;  
    position: absolute;
}

@keyframes animateOne {                
    from{   
            background-color:rgb(255, 225, 0);
            left:0px;
            top:0px;
    }
    25%{
        background-color:rgb(255, 98, 0);
        left:700px;
        top:0px;
    }
    50%{
        background-color:rgb(255, 0, 0);
        left:700px;
        top:700px;

    } 
    75%{
        background-color:rgb(47, 12, 152);
        left:0px;
        top:700px;
    }

    to{
        background-color:darkgreen;     
        top:0px;
        left:0px;
    }
    
}
