.container{
    border: solid black 6px;
    height: 700px;
    width: 700px;
    margin-top: 20px;
    margin-left: 20px;
}
body{
    margin: 0px;
    background-color: teal;

}
.container >div{
    height: 50px;
    width: 50px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: palevioletred;
    animation-name: animateOne;
    animation-duration: 10s;
    animation-iteration-count: normal;
    position: absolute;
}
@keyframes animateOne{
    from{
        background-color: rgb(235 255 0);
        left: 0px;
        top: 0px;
    }
    25%{
        background-color: aquamarine;
        left: 700px;
        top: 0px;
    }
    50%{
        background-color: blueviolet;
        left: 700px;
        top: 700px;
    }
    75%{
        background-color: rgb(65, 2, 2);
        left: 0px;
        top: 700px;
    }
    to{
        background-color: darkgreen;
        top: 0px;
        left: 0px;
    }

}
